body {
  background-color: black;
  text-align: center;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  background-color: grey;
  margin: 15px auto;
  border: 1px solid lightgray;
}

.cell {
  color: grey;
  border: 1px solid rgb(90, 90, 90);
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.5s;
}

.cell.clicked {
  color: black;
  border: 1px solid rgb(90, 90, 90);
  background-color: rgb(202, 202, 202);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.7);
}

.cell.clicked.mine {
  border: 2px solid red; /* מסגרת ירוקה */
  padding: 2px; /* ריווח פנימי */
  transition: 0.5s;
}

.restart {
  margin-top: 20px;
}

.restart .smiley {
  all: unset; /* מנקה את כל המאפיינים הדיפולטיביים של הכפתור */
  font-size: 25px; /* גודל הסמיילי */
  cursor: pointer; /* מצביע עכבר */
  padding: 0px; /* רווח פנימי למגע נעים */
  line-height: 1; /* למנוע רווחים מיותרים */
}

.restart .smiley:active {
  transform: scale(0.9); /* הקטנה בעת לחיצה */
}

footer {
  font-size: 10px;
}

.beginner,
.medium,
.expert {
  margin: 5px;
  cursor: pointer; /* מצביע עכבר */
}

.lives {
  margin: 15px auto;
}

.buttons {
  margin: 15px auto;
}

.lives span {
  font-size: 20px;
}

.hints {
  cursor: pointer; /* מצביע עכבר */
}

.cell.clickedonhint {
  color: black;
  border: 2px solid yellow;
  background-color: rgb(202, 202, 202);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.7);
}

.cell.clickedonsafeclick {
  color: black;
  border: 2px solid rgb(16, 165, 252);
  background-color: rgb(202, 202, 202);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.7);
}

.hintsbuttons {
  margin-bottom: 15px;
}

.safeclicktext {
  font-size: 10px;
  margin-top: 2px;
}

.safeclick span.islandicon {
  font-size: 20px;
}

.safeclick {
  padding-bottom: 3px;
  border: 10px;
  cursor: pointer; /* מצביע עכבר */
}
